/.idea/.idea.oscentium_be/.idea/.name
/.idea/.idea.oscentium_be/.idea/discord.xml
/.idea/.idea.oscentium_be/.idea/encodings.xml
/.idea/.idea.oscentium_be/.idea/indexLayout.xml
/.idea/.idea.WebApplication2/.idea/vcs.xml