./bin/*
./obj/*
/bin/Debug/net8.0/DomainLayer.deps.json
/bin/Debug/net8.0/DomainLayer.dll
/bin/Debug/net8.0/DomainLayer.pdb
/obj/Debug/net8.0/ref/DomainLayer.dll
/obj/Debug/net8.0/refint/DomainLayer.dll
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/DomainLayer.AssemblyInfo.cs
/obj/Debug/net8.0/DomainLayer.AssemblyInfoInputs.cache
/obj/Debug/net8.0/DomainLayer.assets.cache
/obj/Debug/net8.0/DomainLayer.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/DomainLayer.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/DomainLayer.dll
/obj/Debug/net8.0/DomainLayer.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/DomainLayer.GlobalUsings.g.cs
/obj/Debug/net8.0/DomainLayer.pdb
/obj/DomainLayer.csproj.nuget.dgspec.json
/obj/DomainLayer.csproj.nuget.g.props
/obj/DomainLayer.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
