./bin/
./obj/
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/ApplicationLayer.dll
/bin/Debug/net8.0/ApplicationLayer.pdb
/bin/Debug/net8.0/appsettings.Development.json
/bin/Debug/net8.0/appsettings.json
/bin/Debug/net8.0/Arch.EntityFrameworkCore.Abstractions.dll
/bin/Debug/net8.0/Arch.EntityFrameworkCore.Design.dll
/bin/Debug/net8.0/Arch.EntityFrameworkCore.dll
/bin/Debug/net8.0/Arch.EntityFrameworkCore.Relational.dll
/bin/Debug/net8.0/DomainLayer.dll
/bin/Debug/net8.0/DomainLayer.pdb
/bin/Debug/net8.0/Humanizer.dll
/bin/Debug/net8.0/InfrastructureLayer.dll
/bin/Debug/net8.0/InfrastructureLayer.pdb
/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.Design.dll
/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/net8.0/Microsoft.OpenApi.dll
/bin/Debug/net8.0/Mono.TextTemplating.dll
/bin/Debug/net8.0/Npgsql.dll
/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.Design.dll
/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/bin/Debug/net8.0/Remotion.Linq.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net8.0/System.CodeDom.dll
/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/bin/Debug/net8.0/System.Composition.Convention.dll
/bin/Debug/net8.0/System.Composition.Hosting.dll
/bin/Debug/net8.0/System.Composition.Runtime.dll
/bin/Debug/net8.0/System.Composition.TypedParts.dll
/bin/Debug/net8.0/System.Interactive.Async.dll
/bin/Debug/net8.0/WebApplication2.deps.json
/bin/Debug/net8.0/WebApplication2.dll
/bin/Debug/net8.0/WebApplication2.exe
/bin/Debug/net8.0/WebApplication2.pdb
/bin/Debug/net8.0/WebApplication2.runtimeconfig.json
/bin/Debug/net8.0/WebApplication2.staticwebassets.runtime.json
/obj/Debug/net8.0/ref/WebApplication2.dll
/obj/Debug/net8.0/refint/WebApplication2.dll
/obj/Debug/net8.0/staticwebassets/msbuild.build.WebApplication2.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WebApplication2.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.WebApplication2.props
/obj/Debug/net8.0/staticwebassets/msbuild.WebApplication2.Microsoft.AspNetCore.StaticWebAssets.props
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.development.json
/obj/Debug/net8.0/staticwebassets.pack.json
/obj/Debug/net8.0/WebApplication2.AssemblyInfo.cs
/obj/Debug/net8.0/WebApplication2.AssemblyInfoInputs.cache
/obj/Debug/net8.0/WebApplication2.assets.cache
/obj/Debug/net8.0/WebApplication2.csproj.AssemblyReference.cache
/obj/Debug/net8.0/WebApplication2.csproj.CopyComplete
/obj/Debug/net8.0/WebApplication2.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/WebApplication2.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/WebApplication2.dll
/obj/Debug/net8.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/WebApplication2.genruntimeconfig.cache
/obj/Debug/net8.0/WebApplication2.GlobalUsings.g.cs
/obj/Debug/net8.0/WebApplication2.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/WebApplication2.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net8.0/WebApplication2.pdb
/obj/Debug/net8.0/WebApplication2.RazorAssemblyInfo.cache
/obj/Debug/net8.0/WebApplication2.RazorAssemblyInfo.cs
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/obj/WebApplication2.csproj.EntityFrameworkCore.targets
/obj/WebApplication2.csproj.nuget.dgspec.json
/obj/WebApplication2.csproj.nuget.g.props
/obj/WebApplication2.csproj.nuget.g.targets
