./bin/*
./obj/*
/bin/Debug/net8.0/DomainLayer.dll
/bin/Debug/net8.0/DomainLayer.pdb
/bin/Debug/net8.0/InfrastructureLayer.deps.json
/bin/Debug/net8.0/InfrastructureLayer.dll
/bin/Debug/net8.0/InfrastructureLayer.pdb
/bin/Debug/net8.0/InfrastructureLayer.runtimeconfig.json
/obj/Debug/net8.0/ref/InfrastructureLayer.dll
/obj/Debug/net8.0/refint/InfrastructureLayer.dll
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/InfrastructureLayer.AssemblyInfo.cs
/obj/Debug/net8.0/InfrastructureLayer.AssemblyInfoInputs.cache
/obj/Debug/net8.0/InfrastructureLayer.assets.cache
/obj/Debug/net8.0/InfrastructureLayer.csproj.AssemblyReference.cache
/obj/Debug/net8.0/InfrastructureLayer.csproj.CopyComplete
/obj/Debug/net8.0/InfrastructureLayer.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/InfrastructureLayer.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/InfrastructureLayer.dll
/obj/Debug/net8.0/InfrastructureLayer.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/InfrastructureLayer.genruntimeconfig.cache
/obj/Debug/net8.0/InfrastructureLayer.GlobalUsings.g.cs
/obj/Debug/net8.0/InfrastructureLayer.pdb
/obj/InfrastructureLayer.csproj.nuget.dgspec.json
/obj/InfrastructureLayer.csproj.nuget.g.props
/obj/InfrastructureLayer.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
